/* XM_style.css */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    
  }

  .branding h1 {
    font-size: 2rem;
  }

  .bottom-nav .nav-item {
    font-size: 1.2rem;
  }

  #Consultas {
    position: absolute;
    right: 30px;
    width: 60%;
    height: 80%;
  }

   #AssistenteVirtual {
    position: absolute;
    left: 30px;
    width: 32%;
    height: 140px;
    
  }

  #Resultados{
    position: absolute;
    left: 30px;
    width: 32%;
    top: 250px;
    

  }

  #Receitas{
    position: absolute;
    left:30px ;
    width: 32%;
    top: 400px;
  }

  #Solicitação_De_Exame{
    position: absolute;
    left: 30px;
    width: 32%;
    top: 550px;
    

  }

  .conteiner-integrantes {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem linha */
  padding: 50px;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os itens */
}

.card-fotos {
  width: 300px;
  height: 501px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
  background-color: #f9f9f9;
}

.foto {
  width: 240px;
  height: 300px;
  object-fit: cover; /* Mantém proporção da imagem */
  border-radius: 8px;
  margin-bottom: 10px;
}

  
}
