/* XS_style.css */
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .branding h1 {
    font-size: 1.5rem;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .card {
    margin-bottom: 1rem;
  }

  .bottom-nav .nav-item {
    font-size: 1rem;
  }

  .primary {
    font-size: 0.95rem;
   
  }

  .conteiner-integrantes {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem linha */
  padding: 50px;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os itens */
}

.card-fotos {
  width: 300px;
  height: 501px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
  background-color: #f9f9f9;
}

.foto {
  width: 240px;
  height: 300px;
  object-fit: cover; /* Mantém proporção da imagem */
  border-radius: 8px;
  margin-bottom: 10px;
}

}
